.blog-header {
  display: flex;
  justify-content: space-between;
}

.blog-header .right {
  position: relative;
  flex: 1;
}

.blog-header .left {
  padding-top: 2px;
  flex: 1;
}

.search-input {
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.185);
  margin: 0 0 12px;
  padding: 4px 30px 4px 15px;
  color: #fff;
}

.search-icon {
  color: rgb(199, 199, 199);
  position: absolute;
  right: 3px;
  top: 4px;
}

.blog-body a:hover {
  color: rgb(80 156 255) !important;
}

.blog-body .post img {
  width: 100%;
  border-radius: 8px;
}

.post-label {
  color: rgb(199, 199, 199);
}
